<html>
  <head>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <title> Skill-Lab</title>
    <script src="../js/openclosedrawer.js"></script>
    <script src="../js/openclosedoor.js"></script>
    <script src="../js/clock.js"></script>
    <script src="../js/opencloseabwurfcap.js"></script>
    <script src="../js/cursorsubmit.js"></script>

    <script>
      
    </script>
  </head>
  <body>
    <a-scene>
      
      <a-assets>
        <!--
        <img id="skyTexture" src="https://cdn.glitch.com/1bf58326-98a2-4485-80d9-130d8e5aef11%2Fstypetexture.jpg?1496057496405">
        <img id="groundTexture" src="https://cdn.glitch.com/1bf58326-98a2-4485-80d9-130d8e5aef11%2Fgrasstexture.png?1496061773449">
        -->
        
        <!--cabinet -->
        <a-asset-item id="cabinetnew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcabinetWithoutDrawersTr.gltf?1500290922483"></a-asset-item>
        <a-asset-item id="bigdrawernew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcabinetBigDrawerTr.gltf?1500368878420"></a-asset-item>
        <a-asset-item id="bigdrawerhandle" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcabinetBigDrawerHandleTr.gltf?1500291667293"></a-asset-item>
        <a-asset-item id="smalldrawernew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcabinetSmallDrawerTr.gltf?1500371096297"></a-asset-item>
        <a-asset-item id="smalldrawerhandle" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcabinetSmallDrawerHandleTr.gltf?1500371856678"></a-asset-item>
        
        <!--clock -->
        <a-asset-item id="clocksrc" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FclockTrObj.gltf?1500402588079"></a-asset-item>
        <a-asset-item id="pointer1" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fclock_hand_1_Tr.gltf?1500403012231"></a-asset-item>
        <a-asset-item id="pointer2" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fclock_hand_2_Tr.gltf?1500450184909"></a-asset-item>
        <a-asset-item id="pointer3" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fclock_hand_3_Tr.gltf?1500450545520"></a-asset-item>
        <a-asset-item id="markingnew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fclock_marking_Tr.gltf?1500450818628"></a-asset-item>
        
        <!--cupboard -->
        <a-asset-item id="cupboard" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcupboardWithoutDoorsTr.gltf?1500238252275"></a-asset-item>
        <a-asset-item id="cupboardleftdoornew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcupboardDoorLeftTrObj.gltf?1500242925660"></a-asset-item>
        <a-asset-item id="cupboardleftdoorhandle" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcupboardDoorLeftHandleTr.gltf?1500283595354"></a-asset-item>
        <a-asset-item id="cupboardleftdoorglassnew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcupboardDoorLeftGlassTrOthersite.gltf?1500543553766"></a-asset-item>
        <a-asset-item id="cupboardrightdoornew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcupboardDoorRightTr.gltf?1500287413571"></a-asset-item>
        <a-asset-item id="cupboardrightdoorhandle" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcupboardDoorRightHandleTr.gltf?1500288273203"></a-asset-item>
        <a-asset-item id="cupboardrightdoorglassnew" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FcupboardDoorRightGlassTrOtherside.gltf?1500544075684"></a-asset-item>

        <!--abwurf -->
        <a-asset-item id="abwurfcapnewpivot" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FabwurcapTrnew.gltf?1500463369138"></a-asset-item>
        <a-asset-item id="abwurfTrbottom" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FabwurfTrbottom.gltf?1500453690338"></a-asset-item>
        <a-asset-item id="abwurfTrtop" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FabwurfTrtop.gltf?1500455378458"></a-asset-item>
        <a-asset-item id="abwurfTrmiddle" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FabwurfTr3middle.gltf?1500458581850"></a-asset-item>
        <!-- bottle -->
        <a-asset-item id="bottle" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fflascheonesite.gltf?1500468634941"></a-asset-item>
        <a-asset-item id="bottlewaterbottom" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fflaschewaterbottomblue.gltf?1500469398281"></a-asset-item>
        <a-asset-item id="bottledecker" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fdecker.gltf?1500483406788"></a-asset-item>
        <a-asset-item id="naci500" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Flabelsnaci500.gltf?1500485656692"></a-asset-item>
        <a-asset-item id="naci1000" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Flabelsnaci1000.gltf?1500486311349"></a-asset-item>
        <a-asset-item id="g5500" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Flabelsg5500.gltf?1500487771955"></a-asset-item>
        <!-- glave -->
        <a-asset-item id="handschuhebox" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fhandschuhebox.gltf?1500549239836"></a-asset-item>
        <a-asset-item id="handschuheregal" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fhandschuheregal.gltf?1500558955471"></a-asset-item>
        <a-asset-item id="handschuhelabelsl" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fhandschuhelabelsl.gltf?1500560133374"></a-asset-item>
        <a-asset-item id="handschuhelabelss" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fhandschuhelabelss.gltf?1500560777479"></a-asset-item>
        <a-asset-item id="handschuhelabelsm" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fhandschuhelabelsm.gltf?1500560953999"></a-asset-item>
        <a-asset-item id="handschuheboxhole" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fhandschuheboxhole.gltf?1500562033349"></a-asset-item>
        <a-asset-item id="handschuhe" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2Fglave.gltf?1500563605025"></a-asset-item>
        
        <a-asset-item id="mappebackground" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FMappeBackgroundObj.gltf?1500628553747"></a-asset-item>
        <a-asset-item id="mappeforeground" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FMappeForegroundObj.gltf?1500628643658"></a-asset-item>
        <a-asset-item id="mappedocument" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FMappedocument.gltf?1500630666354"></a-asset-item>
        <a-asset-item id="mappecolorstreak" src="https://cdn.glitch.com/0578ce6a-1f65-48ff-8959-8ee94488f9bd%2FMappecolorstreak.gltf?1500630888255"></a-asset-item>

        
      </a-assets>
      
      
      <a-sky height="2048" radius="30" theta-length="90" width="2048"></a-sky>      
      <a-plane  rotation="-90 0 0" width="30" height="30" repeat="10 10"></a-plane>     
      <a-light type="ambient" color="#445451"></a-light>    
      <a-light type="point" intensity="0.8" position="0 2 0"></a-light>

      <!--cabinet -->
      <a-entity id="twoCabinet" position="0 0.75 -1" >
        <a-gltf-model src="#cabinetnew" position="0 0 0" scale="0.1 0.1 0.1" rotation="0 270 0">
          
          <a-gltf-model src="#smalldrawernew" position="0 5.43 3.41" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 5.43 3.41; close: 0 5.43 3.41">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 4.1 3.41" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 4.1 3.41; close: 0 4.1 3.41">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 2.8 3.41" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 2.8 3.41; close: 0 2.8 3.41">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 5.43 0.037" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 5.43 0.037; close: 0 5.43 0.037">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 4.1 0.037" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 4.1 0.037; close: 0 4.1 0.037">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 2.8 0.037" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 2.8 0.037; close: 0 2.8 0.037">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          
          <a-gltf-model src="#bigdrawernew" position="0 1.4 0.1" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 1.4 0.1; close: 0 1.4 0.1">
            <a-gltf-model src="#bigdrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#bigdrawernew" position="0 0 0.1" scale="1 1 1" rotation="0 0 0" openclosedrawer>
            <a-gltf-model src="#bigdrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
        </a-gltf-model>
        
        <a-gltf-model src="#cabinetnew" position="0.675 0 0" scale="0.1 0.1 0.1" rotation="0 270 0">
          
          <a-gltf-model src="#smalldrawernew" position="0 5.43 3.41" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 5.43 3.41; close: 0 5.43 3.41">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 4.1 3.41" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 4.1 3.41; close: 0 4.1 3.41">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 2.8 3.41" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 2.8 3.41; close: 0 2.8 3.41">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 5.43 0.037" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 5.43 0.037; close: 0 5.43 0.037">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 4.1 0.037" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 4.1 0.037; close: 0 4.1 0.037">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#smalldrawernew" position="0 2.8 0.037" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 2.8 0.037; close: 0 2.8 0.037">
            <a-gltf-model src="#smalldrawerhandle"></a-gltf-model>
          </a-gltf-model>
          
          <a-gltf-model src="#bigdrawernew" position="0 1.4 0.1" scale="1 1 1" rotation="0 0 0" openclosedrawer="open: 1.8 1.4 0.1; close: 0 1.4 0.1">
            <a-gltf-model src="#bigdrawerhandle"></a-gltf-model>
          </a-gltf-model>
          <a-gltf-model src="#bigdrawernew" position="0 0 0.1" scale="1 1 1" rotation="0 0 0" openclosedrawer>
            <a-gltf-model src="#bigdrawerhandle"></a-gltf-model>
          </a-gltf-model>
        </a-gltf-model>
      </a-entity>
      
      <!--cupboard --> 
      <a-entity id="twoCupboard" position="0 2 -1">
        <a-gltf-model id="cupboardleft" src="#cupboard" position="0 0 0" scale = "0.1 0.1 0.1" rotation="0 270 0">
          <a-gltf-model src="#cupboardleftdoornew" position="2.7 0 6.8" openclosedoor>
            <a-gltf-model src="#cupboardleftdoorhandle"></a-gltf-model>
            <a-gltf-model id="glassofcupboard" src="#cupboardleftdoorglassnew" rotation=""></a-gltf-model>
          </a-gltf-model>
          <a-gltf-model src="#cupboardrightdoornew" position="2.7 0 0" openclosedoor="open:0 75 0" >
            <a-gltf-model src="#cupboardrightdoorhandle"></a-gltf-model>
            <a-gltf-model src="#cupboardrightdoorglassnew"></a-gltf-model>
          </a-gltf-model>
        </a-gltf-model>
        <a-gltf-model id="cupboardright" src="#cupboard" position="0.676 0 0" scale = "0.1 0.1 0.1" rotation="0 270 0">
          <a-gltf-model src="#cupboardleftdoornew" position="2.7 0 6.78" openclosedoor="open: 0 -75 0">
            <a-gltf-model src="#cupboardleftdoorhandle"></a-gltf-model>
            <a-gltf-model src="#cupboardleftdoorglassnew"></a-gltf-model>
          </a-gltf-model>
          <a-gltf-model src="#cupboardrightdoornew" position="2.7 0 0" openclosedoor="open:0 90 0" >
            <a-gltf-model src="#cupboardrightdoorhandle"></a-gltf-model>
            <a-gltf-model src="#cupboardrightdoorglassnew"></a-gltf-model>
          </a-gltf-model>
        </a-gltf-model>
      </a-entity>
      
      <!--clock -->
      <a-gltf-model id="clock" src="#clocksrc" position="-1.2 2 -1" scale="0.2 0.2 0.2" rotation="0 270 0" clockclick>
         <a-gltf-model id="hourclockhand" src="#pointer2" position="0.1 0 0" scale="0.9 0.9 0.9 " rotation="90 0 0" clockhand_roll="hourClockhand"></a-gltf-model>
         <a-gltf-model id="minuteclockhand" src="#pointer1" position="0.1 0 0" scale="0.9 0.9 0.9" clockhand_roll="minuteClockhand"></a-gltf-model>
         <a-gltf-model id="secondclockhand" src="#pointer3" position="0.1 0 0" scale="0.9 0.9 0.9" rotation="45 0 0" clockhand_roll></a-gltf-model>
        <!--
         <a-gltf-model id="30secmarking" src="#markingnew" position="0.01 0 0" visible="false" sec30></a-gltf-model>
        -->
      </a-gltf-model>

      <!--abwurf -->
      <a-gltf-model id="abwurfmodelbottle" src="#abwurfTrbottom" position="0.00 1.495 -0.93" scale="0.06 0.06 0.06 " rotation="0 45 0">
        <a-gltf-model src="#abwurfTrtop" ></a-gltf-model>
        <a-gltf-model src="#abwurfTrmiddle"></a-gltf-model>
        <a-gltf-model id="abwurfmodelcapnewpivot" src="#abwurfcapnewpivot" position="0.568 1.336 0.055" opencloseabwurfcap></a-gltf-model>
      </a-gltf-model>
      
      <!-- bottle -->
      <a-gltf-model src="#bottle" scale="0.1 0.1 0.1" position="-0.27 2.057 -0.83" rotation="0 270 0">
        <a-gltf-model src="#bottlewaterbottom"></a-gltf-model>
        <a-gltf-model src="#bottledecker" position="0 0.904 0"></a-gltf-model>
        <a-gltf-model src="#naci500"></a-gltf-model>
      </a-gltf-model>
      
      <a-gltf-model src="#bottle" scale="0.12 0.12 0.12" position="-0.12 2.071 -0.83" rotation="0 270 0">
        <a-gltf-model src="#bottlewaterbottom"></a-gltf-model>
        <a-gltf-model src="#bottledecker" position="0 0.904 0"></a-gltf-model>
        <a-gltf-model src="#naci1000"></a-gltf-model>
      </a-gltf-model>
      
      <a-gltf-model src="#bottle" scale="0.1 0.1 0.1" position="-0.19 2.263 -0.83" rotation="0 270 0">
        <a-gltf-model src="#bottlewaterbottom"></a-gltf-model>
        <a-gltf-model src="#bottledecker" position="0 0.904 0"></a-gltf-model>
        <a-gltf-model src="#g5500"></a-gltf-model>
      </a-gltf-model>
      
      <!-- glave -->
      <a-entity id="glaveboxstand" position="0.6 1.891 -1.0">
        <a-gltf-model src="#handschuheregal" position="0 0 0" scale="0.3 0.3 0.3">
          <a-gltf-model src="#handschuhebox"></a-gltf-model>
          <a-gltf-model src="#handschuhelabelsl"></a-gltf-model>
          <a-gltf-model src="#handschuheboxhole"></a-gltf-model>
          <a-gltf-model id="glave" src="#handschuhe" scale="0.04 0.04 0.04" position="0.15 0 0.23" rotation="0 150 0"></a-gltf-model>
        </a-gltf-model>
        <a-gltf-model src="#handschuheregal" position="0 -0.14 0" scale="0.3 0.3 0.3">
          <a-gltf-model src="#handschuhebox"></a-gltf-model>
          <a-gltf-model src="#handschuhelabelss"></a-gltf-model>
          <a-gltf-model src="#handschuheboxhole"></a-gltf-model>
          <a-gltf-model src="#handschuhe" scale="0.04 0.04 0.04" position="0.15 0 0.23" rotation="0 150 0"></a-gltf-model>
        </a-gltf-model>
        <a-gltf-model src="#handschuheregal" position="0 -0.28 0" scale="0.3 0.3 0.3">
          <a-gltf-model src="#handschuhebox"></a-gltf-model>
          <a-gltf-model src="#handschuhelabelsm"></a-gltf-model>
          <a-gltf-model src="#handschuheboxhole"></a-gltf-model>
          <a-gltf-model src="#handschuhe" scale="0.04 0.04 0.04" position="0.15 0 0.23" rotation="0 150 0"></a-gltf-model>
        </a-gltf-model>
      </a-entity>
      
      <a-gltf-model src="#mappebackground" scale="0.1 0.1 0.1" position="-0.57 1.434 -0.94" rotation="0 -90 -1.43">
        <a-gltf-model src="#mappeforeground"></a-gltf-model>
        <a-gltf-model src="#mappedocument"></a-gltf-model>
        <a-gltf-model src="#mappecolorstreak"></a-gltf-model>
      </a-gltf-model>

      
      <!--camera -->
      <a-camera position="0 0.20 0">
        <a-entity cursor="fuse: false; fuseTimeout: 1000; near: 0.001"
            position="0.000 0.000 -0.08"
            geometry="primitive: ring; radiusInner: 0.0008; radiusOuter: 0.0013"
            material="color: black; shader: flat"
            cursor-submit>
        </a-entity> 
      </a-camera>
    </a-scene>
  </body>
</html>